Repository VatsalSy/Vatsal_CV: changes, and which pre-commit hooks are due for each by the changed paths.
All: chktex, check-bib

chktex:
  name: ChkTeX LaTeX Linter
  entry: chktex
  language: system
  args:
  - --nowarn
  - '2'
  - '8'
  - '11'
  - '13'
  - '25'

check-bib:
  name: Check BibTeX files
  entry: bash
  language: system
  args:
  - -c
  - bibtex -terse "$@" || true
  - --

Add linting targets to Makefile and remove empty devDependencies from package.json
  Makefile
  package.json
Due: none

Update LaTeX linting workflow and documentation for improved clarity and functionality
  .github/workflows/latex-lint.yml
  CLAUDE.md
  LINTING.md
Due: none

Update Vatsal CV with recent enhancements and formatting adjustments
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
Due: none

Update Vatsal CV with minor text formatting improvements
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
  Vatsal_CV.tex
Due: chktex

Enhance bibliography checks in Makefile with detailed output for Vatsal_CV and Vatsal_CV-shortCV
  Makefile
Due: none

Update CLAUDE.md with new build and linting commands; remove obsolete LaTeX lint workflow
  .github/workflows/latex-lint.yml
  CLAUDE.md
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
Due: none

Add Saini et al. paper and Talukdar thesis link
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

pdf sync
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
Due: none

Format J. Comput. Phys. entry for consistency
  Vatsal_CV.pdf
  Vatsal_CV.tex
Due: chktex

perf: update Hirsch-index values in CV and short CV files fix: update email and add new publication entry
  Vatsal_CV-shortCV.tex
  Vatsal_CV.tex
Due: chktex

Add comprehensive README and update .gitignore
  .gitignore
  README.md
  mypublications.bib
Due: check-bib

fix: correct empty commit with no changes made
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
Due: none

feat(bib): update publications with final journal details
  mypublications.bib
Due: check-bib

✨ docs: update README formatting and style details for clarity
  .gitignore
  README.md
Due: none

✨ docs: clarify publication update workflow and short CV notes
  README.md
Due: none

✨ docs: update lint-bib description and improve link format
  README.md
Due: none

✨ docs: streamline Claude guidance for CV updates and workflow
  CLAUDE.md
Due: none

removed outdated things from gitignore
  .gitignore
Due: none

added github repo
  Vatsal_CV-shortCV.pdf
  Vatsal_CV-shortCV.tex
  Vatsal_CV.pdf
  Vatsal_CV.tex
Due: chktex

Add /add-pub slash command for publication management
  .claude/commands/add-pub.md
  CLAUDE.md
Due: none

Update CV with 3 newly published papers and 5 new preprints
  Vatsal_CV-shortCV.pdf
  Vatsal_CV-shortCV.tex
  Vatsal_CV.pdf
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Update CV with 2025 activities, metrics, and formatting standardization
  Vatsal_CV-shortCV.pdf
  Vatsal_CV-shortCV.tex
  Vatsal_CV.pdf
  Vatsal_CV.tex
Due: chktex

updated pdfs
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
Due: none

Fix hardcoded paths and consolidate publication docs
  .claude/commands/add-pub.md
  CLAUDE.md
Due: none

Fix typos and formatting in CV files
  Vatsal_CV-shortCV.tex
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Standardize CV formatting and fix inconsistencies
  Vatsal_CV.tex
Due: chktex

Add publications-only CV with automated build support
  .claude/commands/add-pub.md
  Makefile
  Vatsal_CV-publicationsOnly.pdf
  Vatsal_CV-publicationsOnly.tex
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
Due: chktex

Improve /add-pub preprint matching and renumber steps
  .claude/commands/add-pub.md
Due: none

update CV
  Vatsal_CV.tex
Due: chktex

Fix CV build regression and update master theses
  Vatsal_CV-publicationsOnly.pdf
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
  Vatsal_CV.tex
Due: chktex

update 20 Feb 2026 at 13:12
  Vatsal_CV-publicationsOnly.pdf
  Vatsal_CV-shortCV.pdf
  Vatsal_CV.pdf
Due: none

rename
  AGENTS.md
  CLAUDE.md
Due: none

feat: add published paper — Holes in Sheets, PRL 136 084001 (2026)
  .agents/commands/add-pub.md
  CLAUDE.md
  Vatsal_CV-publicationsOnly.pdf
  Vatsal_CV-publicationsOnly.tex
  Vatsal_CV-shortCV.pdf
  Vatsal_CV-shortCV.tex
  Vatsal_CV.pdf
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

feat: add published paper — Stood-up Drop, Soft Matter 22 657-667 (2026)
  Vatsal_CV-publicationsOnly.pdf
  Vatsal_CV-publicationsOnly.tex
  Vatsal_CV-shortCV.pdf
  Vatsal_CV-shortCV.tex
  Vatsal_CV.pdf
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

feat: add self-similar Worthington jets preprint
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

fix: update published PRF entry
  Vatsal_CV-shortCV.tex
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Update CV with Worthington jets preprint (#10)
  Vatsal_CV-shortCV.tex
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Fix Rodríguez accent handling
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Add a disposable inbound Origin PR probe.
  .origin-inbound-pr-test.md
Due: none

Add Verschuur PRF 2026 as published paper [25] and refresh CV PDFs.
  Vatsal_CV-publicationsOnly.pdf
  Vatsal_CV-publicationsOnly.tex
  Vatsal_CV-shortCV.pdf
  Vatsal_CV-shortCV.tex
  Vatsal_CV.pdf
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Path conditions:
  chktex: any of: \.tex$
  check-bib: any of: \.bib$
