Repository VatsalSy/Vatsal_CV: changes, and which pre-commit hooks are due for each by the changed paths.
All: chktex, check-bib

chktex:
  name: ChkTeX LaTeX Linter
  entry: chktex
  language: system
  args:
  - --nowarn
  - '2'
  - '8'
  - '11'
  - '13'
  - '25'

check-bib:
  name: Check BibTeX files
  entry: bash
  language: system
  args:
  - -c
  - bibtex -terse "$@" || true
  - --

Remove assembly junk: _tmp/smoke-full-push.txt
  _tmp/smoke-full-push.txt
Due: none

Remove assembly junk: _tmp/smoke-push-verify.txt
  _tmp/smoke-push-verify.txt
Due: none

Remove assembly junk: _tmp/smoke-unicode.txt
  _tmp/smoke-unicode.txt
Due: none

Remove assembly junk: _tmp/zpart_00.txt
  _tmp/zpart_00.txt
Due: none

Remove assembly junk: _tmp/zpart_01.txt
  _tmp/zpart_01.txt
Due: none

Remove assembly junk: _tmp/zpart_02.txt
  _tmp/zpart_02.txt
Due: none

Remove assembly junk: _tmp/zpart_03.txt
  _tmp/zpart_03.txt
Due: none

Remove assembly junk: cv_delta_16.tex
  cv_delta_16.tex
Due: chktex

Remove assembly junk: cv_delta_17.tex
  cv_delta_17.tex
Due: chktex

Remove assembly junk: cv_delta_20.tex
  cv_delta_20.tex
Due: chktex

Remove assembly junk: scripts/assemble_cv_tex.py
  scripts/assemble_cv_tex.py
Due: none

Remove assembly junk: scripts/decode_cv_tex.py
  scripts/decode_cv_tex.py
Due: none

Mark Singularities in Soft Matter Systems as published in Contemporary Physics (#14)
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Path conditions:
  chktex: any of: \.tex$
  check-bib: any of: \.bib$
