Repository VatsalSy/Vatsal_CV: changes, and which pre-commit hooks are due for each by the changed paths.
All: chktex, check-bib

.pre-commit-config.yaml:

# Pre-commit hooks configuration for LaTeX CV
repos:
  - repo: local
    hooks:
      - id: chktex
        name: ChkTeX LaTeX Linter
        entry: chktex
        language: system
        files: \.tex$
        args: [--nowarn, '2', '8', '11', '13', '25']
      - id: check-bib
        name: Check BibTeX files
        entry: bash
        language: system
        files: \.bib$
        args: [-c, 'bibtex -terse "$@" || true', --]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        files: \.(tex|bib)$
      - id: end-of-file-fixer
        files: \.(tex|bib)$
      - id: check-merge-conflict

Mark Singularities in Soft Matter Systems as published in Contemporary Physics
  Vatsal_CV.tex
  mypublications.bib
Due: chktex, check-bib

Mark Singularities in Soft Matter Systems as published in Contemporary Physics
  mypublications.bib
Due: check-bib

Add script to assemble Vatsal_CV.tex from chunks
  scripts/assemble_cv_tex.py
Due: none

Add CV tex chunk 5
  _tmp/cv-tex-chunks/5.tex
Due: chktex

WIP: smoke-test restore of Vatsal_CV.tex content
  Vatsal_CV.tex
Due: chktex

Restore Vatsal_CV.tex: Singularities published in Contemporary Physics
  Vatsal_CV.tex
Due: chktex

Add CV tex part 0/3 for restore
  _tmp/cv-tex-chunks/0.tex
Due: chktex

Add gzipped base64 of corrected Vatsal_CV.tex for restore
  _tmp/Vatsal_CV.tex.gz.b64
Due: none

Add decode_cv_tex.py to restore Vatsal_CV.tex from gzipped base64
  scripts/decode_cv_tex.py
Due: none

Fix corrupted Vatsal_CV.tex.gz.b64 restore payload
  _tmp/Vatsal_CV.tex.gz.b64
Due: none

Smoke test file ref expansion
  _tmp/smoke-file-ref.txt
Due: none

WIP: stub Vatsal_CV.tex with Singularities published entry
  Vatsal_CV.tex
Due: chktex

WIP: restore Vatsal_CV.tex progressive ~12k
  Vatsal_CV.tex
Due: chktex

Add CV half2 fragment for assembly
  _tmp/cv_half2.tex
Due: chktex

Add CV half2a fragment
  _tmp/cv_half2a.tex
Due: chktex

Add CV half2b fragment
  _tmp/cv_half2b.tex
Due: chktex

Restore Vatsal_CV.tex prefix (education through seminars)
  Vatsal_CV.tex
Due: chktex

Add Singularities published entry as first peer-reviewed item
  Vatsal_CV.tex
Due: chktex

Smoke test unicode push
  _tmp/smoke-unicode.txt
Due: none

Add CV remainder chunk b0 after Singularities
  _tmp/cv_drv_b0.tex
Due: chktex

Add CV remainder chunk b1 with half2 inputs
  _tmp/cv_drv_b1.tex
Due: chktex

Add CV remainder after Verschuur without duplicating him
  _tmp/cv_drv_b0_rest.tex
Due: chktex

Restore Vatsal_CV.tex: Singularities published in Contemporary Physics before Verschuur
  Vatsal_CV.tex
Due: chktex

Add CV prefix a1 for Vatsal_CV assembly
  _tmp/cv_prefix_a1.tex
Due: chktex

Fix CV prefix a1 fragment completeness
  _tmp/cv_prefix_a1.tex
Due: chktex

Add CV prefix a2 for Vatsal_CV assembly
  _tmp/cv_prefix_a2.tex
Due: chktex

Add CV prefix b1 for Vatsal_CV assembly
  _tmp/cv_prefix_b1.tex
Due: chktex

Add CV prefix b2 for Vatsal_CV assembly
  _tmp/cv_prefix_b2.tex
Due: chktex

Wire Vatsal_CV.tex to assembled prefix fragments a1-a2-b1-b2
  Vatsal_CV.tex
Due: chktex

Restore clean monolithic Vatsal_CV.tex with Singularities published
  Vatsal_CV.tex
Due: chktex

smoke test latex escape
  Vatsal_CV.tex
Due: chktex

test file path content ref
  Vatsal_CV.tex
Due: chktex

test at-file args
  Vatsal_CV.tex
Due: chktex

WIP: restore Vatsal_CV.tex part 0/3
  Vatsal_CV.tex
Due: chktex

test agent-tools content ref
  Vatsal_CV.tex
Due: chktex
